<Markdown>

# User logic

Here's a description of using WP Fusion conditions.

## Tags

```html
<If user_field=wp_fusion_tags includes value="123">
  User has tag ID 123
<Else />
  User does not have tag.
</If>
```

## Access

```html
<If user_field=wp_fusion_access>
  User has access to current post.
<Else />
  User does not have access.
</If>
```

</Markdown>