<If check="{Get route part=2~}">
  <If check="{Get route part=2}" value="overview">
    <Load file=overview.html />
  <Else />
    <Load file=single.php />
  </If>
<Else />
  <Load file=archive.php />
</If>