<Markdown>
# Example pages #

Example pages demonstrate various demo content items that can/cannot be accessed/seen due to any specific WP Fusion tag applied to user.

The best way to see features is to log-in as the demo user which already has applied specific tags for this purposes. For testing you can remove and add different tags to the user to see how it affects items visibility/accessibility:

**Username**: ExamplePagesUser <br />
**Password**: ExamplePagesUser

Alternatively you can choose to login as a different user and assign various WP Fusion tags to see how Example pages behave.

----------------------

**Available tags for 'ExamplePagesUser' User:**
<Loop type=user name="examplepagesuser">
	<Loop field=wp_fusion_tags>
		WP Fusion tag ID: <Field /><br>
	</Loop>
</Loop>
</Markdown>

